.custom-jumbotron {
    background-color: blue; /* Change to your desired color */
    color: white; /* Change text color if needed */
}

.striped-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
}
.striped-table tr:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}
.striped-table th {
    background-color: powderblue; /* Header background color */
    color: black; /* Header text color */
}
.table-container {
    max-height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}
.error-message{
    color: red;
    text-align: center;
}
